export(create_default_53_hierarchy)
export(create_flat_53_hierarchy)
export(create_hybrid_53_hierarchy)
export(create_tcell_53_hierarchy)
export(create_tcell_only_53_hierarchy)
export(refine_tcell_subtypes)
export(refine_monocyte_subtypes)
export(deconvolve_bulk_matrix)
export(deconvolve_bulk_fast)
export(deconvolve_marker_score)
export(select_state_markers)
export(run_gated_fallback_adaptive_model)
export(run_hierarchical_vb_model)
export(run_flat_vb_model)
export(default_adaptive_params)
export(extract_sample_truth_from_names)
export(build_bayesprism_panel)
export(map_target_to_bayesprism_panel)
export(map_simulation_target_to_states)
export(evaluate_prediction_matrix)
export(summarize_metrics)
export(run_experiment1_benchmark)
export(run_fast_hierarchy_grid)
export(merge_reference)
export(build_merge_map)
export(evaluate_increasing_simulation)
export(aggregate_by_hierarchy)
export(read_expression_matrix)
export(write_deconvolution_outputs)
export(immucellai2_defaults)
export(load_immucellai2_reference)
export(load_immucellai2_markers)
export(run_immucellai2)

importFrom(stats,sd)
importFrom(utils,modifyList)
